:root{
  --brand: #2ee88a;   
  --hero-bg: #0b1220; 
}

.hero{
    min-height: 88vh;
    color: #fff;                 
  --bs-body-color:#fff;        
  --bs-heading-color:#fff ;     
  --bs-secondary-color:#fff;  
}

.btn-brand{
  background: var(--brand);
  border-color: var(--brand);
}
.btn-brand:hover{ 
  filter: brightness(.95); 
}

.hero-illustration{
  color: var(--brand);               
  background: rgba(255,255,255,.03);
  border-radius: 1rem;
  padding: 1rem;
}


